<% provide(:title, @company.name) %>
<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
            <h2>
                <%= @company.name %>
            </h2>
            <h1>
                <%= @company.addres %>
                <%= @company.nip %>
            </h1>


        </section>
    </aside>

    <div class="col-md-8">
        <% if @company.clients.any? %>
        <h3>
            <%= link_to "Clients", clients_path %>
            (<%= @company.clients.count %>) </h3>
        <ol class="clients">
            <%= render @clients %>
        </ol>
        <%= will_paginate @clients %>

        <% end %>

        <% if @company.lessons.any? %>
        <h3>Lessons (<%= @company.lessons.count %>)</h3>
        <ol class="lessons">
            <%= render @lessons %>
        </ol>
        <%= will_paginate @lessons %>
        <% end %>

    </div>
</div>